<a href="https://colab.research.google.com/github/dickynainggolan/Pemograman-Dasar/blob/main/Pratikum_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("--- Soal 1 ---")
# Mencetak bilangan ganjil 1 hingga 9
for angka in range(1, 10,2):
    print(angka)

--- Soal 1 ---
1
3
5
7
9

In [ ]:
print("--- Soal 1 (Modifikasi) ---")
# Mencetak bilangan genap 1 hingga 50
for angka in range(2, 51, 2):
    print(angka)

--- Soal 1 (Modifikasi) ---
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
print("--- Soal 2 ---")
kode_berhenti = 99
input_pengguna = 0 # Inisialisasi awal

while input_pengguna != kode_berhenti:
    try:
        input_pengguna = int(input("Masukkan angka (99 untuk berhenti): "))
    except ValueError:
        print("Input tidak valid. Harap masukkan angka.")

print("Perulangan telah dihentikan oleh sentinel (99).")

--- Soal 2 ---
Masukkan angka (99 untuk berhenti): 12
Masukkan angka (99 untuk berhenti): 23
Masukkan angka (99 untuk berhenti): 99
Perulangan telah dihentikan oleh sentinel (99).

In [ ]:
print("--- Soal 2 (Modifikasi) ---")
nim_berhenti = "4232401047"  # NIM Anda
input_pengguna = ""  # Inisialisasi awal

while input_pengguna != nim_berhenti:
    try:
        input_pengguna = input("Masukkan angka atau NIM (NIM untuk berhenti): ")
    except ValueError:
        print("Input tidak valid. Harap masukkan angka atau NIM.")

print(f"Perulangan telah dihentikan dengan memasukkan NIM ({nim_berhenti}).")

--- Soal 2 (Modifikasi) ---
Masukkan angka atau NIM (NIM untuk berhenti): 47
Masukkan angka atau NIM (NIM untuk berhenti): 4232401048
Masukkan angka atau NIM (NIM untuk berhenti): 4232401047
Perulangan telah dihentikan dengan memasukkan NIM (4232401047).

In [ ]:
print("--- Soal 3 ---")
harga_barang = [15000, 25000, 10000, 5000]
total_belanja = 0

for harga in harga_barang:
    total_belanja += harga

print("Total biaya belanja adalah:", total_belanja)

--- Soal 3 ---
Total biaya belanja adalah: 55000

In [ ]:
print("--- Soal 3 (Modifikasi) ---")
# Daftar harga barang minimal 10 item
harga_barang = [15000, 25000, 10000, 20000, 30000, 12000, 20000, 15000, 45000, 6000]

total_belanja = 0

for harga in harga_barang:
    total_belanja += harga

print("Total biaya belanja adalah:", total_belanja)

--- Soal 3 (Modifikasi) ---
Total biaya belanja adalah: 198000

In [ ]:
print("--- Soal 4 ---")
percobaan_maksimal = 3
percobaan_saat_ini = 1
password_benar = "18012006" # Using password from cell wopIF0ZNmlAQ

while percobaan_saat_ini <= percobaan_maksimal:
    print(f"Percobaan ke-{percobaan_saat_ini}...")
    password_input = input("Masukkan password: ") # Added input

    if password_input == password_benar: # Added password check
        print("Akses diterima.")
        break # Exit loop on success
    else:
        print("Password salah.") # Indicate incorrect password

    percobaan_saat_ini += 1

if percobaan_saat_ini > percobaan_maksimal: # Check if loop finished due to max attempts
    print("Kesempatan habis. Akses ditolak.") # Indicate access denied

--- Soal 4 ---
Percobaan ke-1...
Percobaan ke-2...
Percobaan ke-3...
Kesempatan habis.

In [ ]:
print("--- Soal 4 ---")
percobaan_maksimal = 3
percobaan_saat_ini = 1
password_benar = "18012006"

while percobaan_saat_ini <= percobaan_maksimal:
    print(f"Percobaan ke-{percobaan_saat_ini}...")
    password_input = input("Masukkan password: ")

    if password_input == password_benar:
        print("Akses diterima.")
        break
    else:
        print("Password salah.")

    percobaan_saat_ini += 1

if percobaan_saat_ini > percobaan_maksimal:
    print("Kesempatan habis. Akses ditolak.")

--- Soal 4 ---
Percobaan ke-1...
Masukkan password: 1211
Password salah.
Percobaan ke-2...
Masukkan password: 18012006
Akses diterima.

In [ ]:
print("--- Soal 5 ---")
nama_proyek = "PRAKTIKUM"
hasil_output = ""

for karakter in nama_proyek:
    hasil_output += karakter + "-"

print(hasil_output)  # Output: P-R-A-K-T-I-K-U-M-

--- Soal 5 ---
P-R-A-K-T-I-K-U-M-

In [ ]:
print("--- Soal 5 (Modifikasi) ---")
nama_proyek = "Politeknik Negeri Batam"
hasil_output = ""

for karakter in nama_proyek:
    hasil_output += karakter + "-"

print(hasil_output)

--- Soal 5 (Modifikasi) ---
P-o-l-i-t-e-k-n-i-k- -N-e-g-e-r-i- -B-a-t-a-m-

In [ ]:
print("--- Soal 6 ---")
# Countdown dari 5 ke 1
for i in range(5, 0, -1):
    print(i)

--- Soal 6 ---
5
4
3
2
1

In [ ]:
print("--- Soal 6 (Modifikasi) ---")
# Countdown dari 255 ke 1
for i in range(255, 0, -1):
    print(i)

print("Selesai!")

--- Soal 6 (Modifikasi) ---
255
254
253
252
251
250
249
248
247
246
245
244
243
242
241
240
239
238
237
236
235
234
233
232
231
230
229
228
227
226
225
224
223
222
221
220
219
218
217
216
215
214
213
212
211
210
209
208
207
206
205
204
203
202
201
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Selesai!

In [ ]:
print("--- Soal 7 ---")
bulan = ["Januari", "Februari", "Maret", "April"]

for i, nama in enumerate(bulan):
    # i adalah indeks, nama adalah elemen
    print(f"Bulan ke-{i + 1}: {nama}")

--- Soal 7 ---
Bulan ke-1: Januari
Bulan ke-2: Februari
Bulan ke-3: Maret
Bulan ke-4: April

In [ ]:
print("--- Soal 7 (Modifikasi) ---")
kelurahan = [
    "Baloi Permai",
    "Baloi Indah",
    "Batu Merah",
    "Sungai Jodoh",
    "Belian",
    "Batu Selicin",
    "Tanjung Sengkuang",
    "Sei Panas",
    "Teluk Tering",
    "Lubuk Baja Kota"
]

for i, nama in enumerate(kelurahan):
    print(f"Kelurahan ke-{i + 1}: {nama}")

--- Soal 7 (Modifikasi) ---
Kelurahan ke-1: Baloi Permai
Kelurahan ke-2: Baloi Indah
Kelurahan ke-3: Batu Merah
Kelurahan ke-4: Sungai Jodoh
Kelurahan ke-5: Belian
Kelurahan ke-6: Batu Selicin
Kelurahan ke-7: Tanjung Sengkuang
Kelurahan ke-8: Sei Panas
Kelurahan ke-9: Teluk Tering
Kelurahan ke-10: Lubuk Baja Kota

In [ ]:
print("--- Soal 8 ---")
data_angka = [10, 20, 30, -1, 50, 60]

for angka in data_angka:
    if angka == -1:
        break
    print(angka)

print("Program berhenti karena angka -1 ditemukan.")

--- Soal 8 ---
10
20
30
Program berhenti karena angka -1 ditemukan.

In [ ]:
print("--- Soal 8 (Modifikasi) ---")
data_angka = [10, 20, 30, 0, 50, 60]

for angka in data_angka:
    if angka == 0:
        break
    print(angka)

print("Program berhenti karena angka 0 ditemukan.")

--- Soal 8 (Modifikasi: berhenti jika 0 ditemukan) ---
10
20
30
Program berhenti karena angka 0 ditemukan.

In [ ]:
print("--- Soal 9 ---")
total = 0
bilangan = 1
batas = 20

while total < batas:
    total += bilangan
    bilangan += 1

print("Total terakhir:", total)

--- Soal 9 ---
Total terakhir: 21

In [ ]:
print("--- Soal 10 ---")
jumlah_baris = 3

for baris in range(jumlah_baris):
    baris_teks = ""
    for i in range(1):
        baris_teks += "Python "
    print(baris_teks)

# Output:
# Python
# Python
# Python

--- Soal 10 ---
Python
Python
Python