<a href="https://colab.research.google.com/github/dickynainggolan/Pemograman-Dasar/blob/main/Pratikum_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

umur : int = 25
if umur > 17 :
    print("pengunjung adalah orang dewasa.")

pengunjung adalah orang dewasa.

In [ ]:
username = input("Masukkan username : ")
password = input("Masukkan password: ")

if username == "Dicky Nainggolan" and password == "aku belanda" :
    print("login berhasil")
else:
        print("login gagal")

Masukkan username : Dicky Nainggolan
Masukkan password: aku belanda
login berhasil

In [ ]:
total_belanja = input("Total belanja :Rp")
bayar = int(total_belanja)
if int(total_belanja) > 100000 :
 print("selamat karena Belanja > Rp 100.000 anda mendapatkan voucer makan dan diskon 5%")
 diskon = int (total_belanja)*5/100
 bayar = int (total_belanja) - diskon


print("Total yang hasrus di bayar : Rp %s" % bayar )
print("Terimah kasih sudah datang di toko kami")
print("kami tunggu kunjungan anda selanjutnya")

Total belanja :Rp200000
selamat karena Belanja > Rp 100.000 anda mendapatkan voucer makan dan diskon 5%
Total yang hasrus di bayar : Rp 190000.0
Terimah kasih sudah datang di toko kami
kami tunggu kunjungan anda selanjutnya

In [ ]:
ada_notifikasi_baru : bool = True

if ada_notifikasi_baru :
 print(" Dicky ada pesan baru dari teman anda!")

 Dicky ada pesan baru dari teman anda!

In [ ]:
umur = input("Berapa umur anda")
if int(umur) >= 18:
  print("kamu boleh membuat SIM")
else :
  print("kamu belum boleh membuat SIM")

Berapa umur anda    19
kamu boleh membuat SIM

In [ ]:
total_belanja = 550000
if total_belanja >200000 :
   diskon = total_belanja * 0.10
   total_bayar = total_belanja - diskon
   print(f"anda mendapatkan diskon ! Total bayar : Rp {total_bayar}")
else :
  print(f"Total bayar Rp {total_belanja}")

anda mendapatkan diskon ! Total bayar : Rp 495000.0

In [ ]:
angka = int(input("Masukan bilangan : "))
if angka % 2 == 0 :
 print("Bilangan genap")

else :
  print("Bilangan ganjil")

Masukan bilangan : 35
Bilangan ganjil

In [ ]:
nilai = 80
if nilai >= 85 :
 print("luar biasa ! Nilai A")
elif nilai >= 70 :
  print("Bagus ! nilai B")
elif nilai >= 60 :
  print("Cukup ! nilai C")
else :
  print("Nilai Kurang , perlu belajar lebih giat .")

Bagus ! nilai B

In [ ]:
hari : str = "sabtu"
if hari == "Sabtu" or hari == "minggu" :
  diskon: float = 0.20
  print(f"Selamat ! anda mendapatkan diskon ahkir pekan sebesar {diskon * 100}%")
elif hari == "jumat" :
 diskon: float = 0.15
 print(f"Diskon spesial Jumat! anda mendapatkan Potongan{diskon*100}%")
else:
  diskon: float = 0.05
  print(f"Anda mendapat diskon hari biasa sebesar {diskon*100}%")

Anda mendapat diskon hari biasa sebesar 5.0%

In [ ]:
rupiah = int(input("Masukan jumlah uang  (Rp) :"))
print("1.Dolar (USD)")
print("2. Euro (EUR)")
print("3.Yen (JPY)")
pilih = int(input("Pilih konversi(1/2/3) :"))

if pilih == 1 :
  print("Dalam Dolar", rupiah / 15000)
elif pilih == 2:
  print("Dalam Euro", rupiah / 16000)
elif pilih == 3:
  print("Dalam Yen", rupiah / 120)
else:
  print("Pilihan tidak valid")

Masukan jumlah uang  (Rp) :900000
1.Dolar (USD)
2. Euro (EUR)
3.Yen (JPY)
Pilih konversi(1/2/3) :1
Dalam Dolar 60.0

Latihan

In [5]:
angka = int(input("Masukkan sebuah angka: "))

if angka % 5 == 0:
    print("Kelipatan 5")
else:
    print("Bukan kelipatan 5")

Masukkan sebuah angka: 205
Kelipatan 5

In [4]:
tahun = int(input("Masukkan tahun: "))

if tahun % 400 == 0:
    print("Tahun Kabisat")
elif tahun % 4 == 0 and tahun % 100 != 0:
    print("Tahun Kabisat")
else:
    print("Bukan Tahun Kabisat")

Masukkan tahun: 2006
Bukan Tahun Kabisat

In [3]:
angka = int(input("Masukkan sebuah bilangan: "))

if angka > 0:
    print("Bilangan positif")
elif angka < 0:
    print("Bilangan negatif")
else:
    print("Bilangan nol")

Masukkan sebuah bilangan: -2
Bilangan negatif

In [2]:
bulan = int(input("Masukkan angka bulan (1-12): "))

nama_bulan = ["Januari", "Februari", "Maret", "April", "Mei", "Juni",
              "Juli", "Agustus", "September", "Oktober", "November", "Desember"]

if 1 <= bulan <= 12:
    print("Bulan:", nama_bulan[bulan-1])
else:
    print("Input salah")

Masukkan angka bulan (1-12): 1
Bulan: Januari

In [1]:
jam = int(input("Masukkan jam (0-23): "))

if 0 <= jam <= 11:
    print("Selamat Pagi")
elif 12 <= jam <= 15:
    print("Selamat Siang")
elif 16 <= jam <= 18:
    print("Selamat Sore")
elif 19 <= jam <= 23:
    print("Selamat Malam")
else:
    print("Input jam salah")

Masukkan jam (0-23): 23
Selamat Malam