<a href="https://colab.research.google.com/github/dickynainggolan/Pemograman-Dasar/blob/main/Pratikum_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np # Digunakan untuk mengganti nilai

# --- 1. Memuat Data ---
try:
    # Membaca file CSV yang telah diunggah
    df = pd.read_csv('mahasiswa (1).csv')
    print("‚úÖ Data berhasil dimuat. (5 baris pertama):")
    print(df.head())
except FileNotFoundError:
    print("‚ùå Error: Pastikan file 'mahasiswa (1).csv' ada di lokasi yang benar.")
    exit()

print("\n" + "="*50 + "\n")

‚úÖ Data berhasil dimuat. (5 baris pertama):
     nim   nama           jurusan    umur nilai_akhir  kehadiran_pct  \
0  E0001   Aldi            Teknik     150        59.5           82.0
1  E0002   Budi            teknik    20.0        84.5           99.0
2  E0003  Citra            Energi      -5        56.2           78.0
3  E0004   Dewi            Teknik  twenty        63.0           99.0
4  E0005    Eka  Manajemen Energi    22.0         999           65.0

  tanggal_daftar
0     2024-05-05
1     2024-02-14
2     2024-04-29
3     2024-08-02
4     2024-03-22

==================================================

In [ ]:
# --- 2. Melihat Struktur Data (Inspeksi) ---
print("üîç Informasi Data (Tipe Data & Jumlah Non-Null):")
df.info()

print("\nüîé Jumlah Nilai Hilang (NaN/Null) per Kolom:")
print(df.isnull().sum())

print("\n" + "="*50 + "\n")

üîç Informasi Data (Tipe Data & Jumlah Non-Null):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

üîé Jumlah Nilai Hilang (NaN/Null) per Kolom:
nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

==================================================

In [ ]:
# --- 3. Membersihkan Data (Data Cleaning) ---

# Kolom 'umur'
print("üßπ Pembersihan Kolom 'umur'...")
# Mengganti nilai string non-angka ('twenty', '21years') dan nilai aneh (150, 120, -5) dengan NaN
df['umur'] = df['umur'].replace({'twenty': np.nan, '21years': np.nan}).astype(str)
df['umur'] = df['umur'].str.replace(r'[^0-9.]', '', regex=True)

# Konversi ke numerik, error='coerce' akan mengubah nilai yang tidak bisa dikonversi menjadi NaN
df['umur'] = pd.to_numeric(df['umur'], errors='coerce')

# Menentukan batas umur yang realistis (misalnya, 18 hingga 40)
# Nilai yang di luar rentang ini dianggap tidak valid dan diubah menjadi NaN
df.loc[((df['umur'] < 18) | (df['umur'] > 40)), 'umur'] = np.nan

# Mengisi (Impute) Nilai Hilang di 'umur' dengan median
median_umur = df['umur'].median()
df['umur'].fillna(median_umur, inplace=True)

# Kolom 'nilai_akhir'
print("üßπ Pembersihan Kolom 'nilai_akhir'...")
# Mengganti nilai string non-angka ('999', '-20', 'ninety') dengan NaN
df['nilai_akhir'] = df['nilai_akhir'].replace({'999': np.nan, '-20': np.nan, 'ninety': np.nan})

# Konversi ke numerik
df['nilai_akhir'] = pd.to_numeric(df['nilai_akhir'], errors='coerce')

# Mengisi (Impute) Nilai Hilang di 'nilai_akhir' dengan median
median_nilai = df['nilai_akhir'].median()
df['nilai_akhir'].fillna(median_nilai, inplace=True)


# Kolom 'kehadiran_pct'
print("üßπ Pembersihan Kolom 'kehadiran_pct'...")
# Menentukan batas realistis (misalnya 0 sampai 100)
df.loc[((df['kehadiran_pct'] < 0) | (df['kehadiran_pct'] > 100)), 'kehadiran_pct'] = np.nan

# Mengisi Nilai Hilang di 'kehadiran_pct' dengan rata-rata (mean)
mean_kehadiran = df['kehadiran_pct'].mean()
df['kehadiran_pct'].fillna(mean_kehadiran, inplace=True)


# Kolom 'jurusan'
print("üßπ Pembersihan Kolom 'jurusan' (Mengatasi Nilai Hilang/Kosong)...")
# Mengisi nilai yang hilang/kosong dengan mode (nilai yang paling sering muncul)
mode_jurusan = df['jurusan'].mode()[0]
df['jurusan'].fillna(mode_jurusan, inplace=True)
# Mengubah casing 'teknik' menjadi 'Teknik' (Standardisasi)
df['jurusan'] = df['jurusan'].replace({'teknik': 'Teknik'})

üßπ Pembersihan Kolom 'umur'...
üßπ Pembersihan Kolom 'nilai_akhir'...
üßπ Pembersihan Kolom 'kehadiran_pct'...
üßπ Pembersihan Kolom 'jurusan' (Mengatasi Nilai Hilang/Kosong)...

/tmp/ipython-input-847824525.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['umur'].fillna(median_umur, inplace=True)
/tmp/ipython-input-847824525.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['nilai_akhir'].fillna(median_nilai, inplace=True)
/tmp/ipython-input-847824525.py:40: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['kehadiran_pct'].fillna(mean_kehadiran, inplace=True)
/tmp/ipython-input-847824525.py:47: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['jurusan'].fillna(mode_jurusan, inplace=True)

In [ ]:
import os

# Mendapatkan daftar file di direktori saat ini
files_in_directory = os.listdir('.')

# Mencetak daftar file
print("File-file di direktori saat ini:")
for file in files_in_directory:
    print(file)

# Memeriksa apakah file yang dicari ada di daftar
if 'mahasiswa (1).csv' in files_in_directory:
    print("\n‚úÖ File 'mahasiswa (1).csv' ditemukan di direktori saat ini.")
else:
    print("\n‚ùå File 'mahasiswa (1).csv' TIDAK ditemukan di direktori saat ini.")

File-file di direktori saat ini:
.config
mahasiswa (1).csv
sample_data

‚úÖ File 'mahasiswa (1).csv' ditemukan di direktori saat ini.

In [ ]:
# --- 4. Mengubah Tipe Data (Type Casting) ---
print("üîÑ Mengubah Tipe Data...")
# Mengubah 'umur' menjadi integer (jika tidak ada desimal)
df['umur'] = df['umur'].astype(int)
# Mengubah 'tanggal_daftar' menjadi tipe datetime
# 'coerce' akan mengubah tanggal yang tidak valid (seperti 'May 22 2024') menjadi NaT
df['tanggal_daftar'] = pd.to_datetime(df['tanggal_daftar'], errors='coerce')

üîÑ Mengubah Tipe Data...

In [ ]:
# --- 5. Membuat Kolom Baru (Feature Engineering Sederhana) ---
print("‚ú® Membuat Kolom Baru: 'status_kelulusan'...")
# Contoh sederhana: Lulus jika Nilai Akhir > 70
df['status_kelulusan'] = np.where(df['nilai_akhir'] > 70, 'LULUS', 'TIDAK LULUS')

‚ú® Membuat Kolom Baru: 'status_kelulusan'...

In [ ]:
# --- 6. Hasil Akhir (Data yang sudah di-Wrangle) ---
print("\n" + "="*50 + "\n")
print("üéâ HASIL DATA WRANGLING:")
print("Data 10 baris pertama setelah dibersihkan:")
print(df.head(10))

print("\nInformasi Data Akhir (semua Non-Null):")
df.info()

print("\nNilai unik pada kolom 'jurusan' setelah standardisasi:")
print(df['jurusan'].unique())

==================================================

üéâ HASIL DATA WRANGLING:
Data 10 baris pertama setelah dibersihkan:
     nim    nama           jurusan  umur  nilai_akhir  kehadiran_pct  \
0  E0001    Aldi            Teknik    23         59.5      82.000000
1  E0002    Budi            Teknik    20         84.5      99.000000
2  E0003   Citra            Energi    23         56.2      78.000000
3  E0004    Dewi            Teknik    23         63.0      99.000000
4  E0005     Eka  Manajemen Energi    22         74.5      65.000000
5  E0006   Fajar            Energi    21         74.5      78.000000
6  E0007    Gina       Informatika    19         70.2      82.135135
7  E0008  Hendra            Energi    25         56.7      82.135135
8  E0009     Ika       Informatika    23         58.2      83.000000
9  E0010    Joko            Teknik    23         62.7      69.000000

  tanggal_daftar status_kelulusan
0     2024-05-05      TIDAK LULUS
1     2024-02-14            LULUS
2     2024-04-29      TIDAK LULUS
3     2024-08-02      TIDAK LULUS
4     2024-03-22            LULUS
5     2024-06-21            LULUS
6     2024-06-25            LULUS
7     2024-10-01      TIDAK LULUS
8     2024-11-17      TIDAK LULUS
9     2024-01-24      TIDAK LULUS

Informasi Data Akhir (semua Non-Null):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nim               78 non-null     object
 1   nama              78 non-null     object
 2   jurusan           78 non-null     object
 3   umur              78 non-null     int64
 4   nilai_akhir       78 non-null     float64
 5   kehadiran_pct     78 non-null     float64
 6   tanggal_daftar    71 non-null     datetime64[ns]
 7   status_kelulusan  78 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 5.0+ KB

Nilai unik pada kolom 'jurusan' setelah standardisasi:
['Teknik' 'Energi' 'Manajemen Energi' 'Informatika' 'ManajemenEnergi'
 ' energi ' 'EnErGi' 'Teknik ' 'ENG' 'ENERGI']